/* ======== CONTENEDOR LATERAL ======== */
.aside-container {
  width: 260px;
  height: 100vh;
  background-color: #0F172A; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 32px 24px;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  font-family: 'Inter', sans-serif;
}

/* ======== LOGO / ICONO SUPERIOR ======== */
.logo-aside {
  width: 38px;
  height: 38px;
  border-radius:  8px;
  background-color: #4F46E5; 
  margin-bottom: 12px;
  text-align: center;
  font-size: 25px;
  color: white;
  margin-top: 1px;
}

/* ======== TÍTULO DEL MENÚ ======== */
.title-aside {
  font-size: 18px;
  font-weight: 600;
  color: #F8FAFC; 
  margin-bottom: 48px;
  text-align: left;
  width: 100%;
  position: absolute;
  left: 80px;
  top: 40px;
  margin-top: 1px;
}

/* ======== ENLACES ======== */
.links-aside {
  display: block;
  text-decoration: none;
  color: #CBD5E1; 
  font-size: 14px;
  font-weight: 500;
  padding: 12px 16px;
  border-radius: 6px;
  margin-bottom: 8px;
  transition: background-color 0.2s ease, color 0.2s ease;
  text-align: left;
}

/* Hover: cambia a fondo más oscuro y texto blanco */
.links-aside:hover {
  background-color: #385077;
  color: #1e5ec5;
}

/* ======== ENLACE DE CERRAR SESIÓN ======== */
.links-aside:last-child {
  margin-top: auto; /* Se baja al final */
  color: #94A3B8; 
}

.links-aside:last-child:hover {
  background-color: transparent;
  color: #F87171; 
}